<!DOCTYPE html>
<html>
  <head>
    <title>AI</title>
    <meta charset="UTF-8" />
    {% load static %}
  <link href="{% static 'css/Diary.css' %}" rel="stylesheet" />

  </head>
  <body>
    <div class="app">
      <div class="main">
        <div class="sidebar">
            <h1 id="logo"><a href="index.html">
                <img src="../images/aiabana-.jpg" width="250" height="150" alt="トップ"></a></h1>
            <li><a href="../Mypage/Mypage.html">マイページへ</a></li>
            <li><a href="../Search/Search.html">検索</a></li>
            <li><a href="../Good/Good.html">いいね</a></li>
            <li><a href="../Diary/Diary.html" class="current">日記</a></li>
            <li><a href="../Chat/Chat.html">チャット</a></li>
        </div>
        <div class="content">
          <div class="titlebar">
            <h2>日記</h2>
            <form action="ページ内検索のURL" method="get" class="Search">
              <input type="search" name="search" placeholder="キーワードを入力">
              <input type="submit" name="submit" value="検索">
              <!--いやページ内検索して並び変えるのどうすんじゃワレ！！！-->
            </form>
          </div>
          <body>
            {% for item in object_list %}
            <div class="card" style="margin: left 100px;" >
              <h5 class="card-header">{{item.title}}</h5>
              <div class="card-body">
                <p class="card-text">{{item.text}}</p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
              </div>
            </div>
            {% endfor %}
          </body>
          <div class="toukou">
            <form action="日記投稿画面のURL" method="post">
            <input type="button" style="width:90%;padding:8px;font-size:40px; background-color:#00CCFF;" value="+投稿" />
        </form>
        </div>
       
          <div class="content5">
            
          </div>
        </div>
      </div>
    </div>
  </body>
</html>